<ng-container *ngIf="(services$ | async) as services; else default">
  <div id="content">

    <ng-container *ngFor="let service of services">
      <app-style-card [attr.id]="service.sku" [details]=service [select]="service.sku === selectedService.sku"
        [expand]="service.sku === selectedService.sku && expandSelectedService"
        (clicked)="styleEventHandler($event)"></app-style-card>
    </ng-container>

  </div>

</ng-container>


<ng-template #default>
  <div id="default">
    No services yet.
    <br>
    Check back later!
  </div>
</ng-template>