:host {
  display: flex;
  padding: 0 10px;
}
#left,
#right {
  display: flex;
  padding: 10px;
  aspect-ratio: 1;
  height: 100%;
}
#center {
  flex: 1;
  display: flex;
  padding: 15px;
}
#page {
  width: 100%;
  text-align: center;
  align-self: flex-end;
}
app-profile-puck {
  border-width: 1px;
  box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.25);
}
#notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: hsl(0, 0%, 85%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 100px;
}
#notIcon {
  font-size: 25px;
}
