:host {
  --style-border-width: 1px;
}
#card,
#left,
#details,
#variants,
#description,
#tray,
.variant,
.options,
.option {
  display: flex;
}
#left,
#tray,
#variants {
  flex-direction: column;
}
#style {
  border: var(--style-border-width) solid hsl(0, 0%, 70%);
  border-radius: 5px;
  box-shadow: 1px 2px 4px hsla(0, 0%, 0%, 0.25);
  overflow: hidden;
  outline: 0px solid hsla(360, 100%, 40%, 1);
  transition: height 250ms ease-in-out, outline 250ms;
}
#style.selected {
  #card {
    outline: 2px solid hsla(360, 100%, 40%, 1);
    outline-offset: -2px;
  }
}
#card {
  gap: 15px;
  height: 100%;
  padding: 10px;
  border-radius: 4px;

  * {
    pointer-events: none;
  }
}
#left {
  flex: 1;
  overflow: hidden;
}
#title h2 {
  margin: 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#description {
  flex: 1;
  display: flex;
  column-gap: 15px;
  flex-wrap: wrap;
  align-content: center;
}
#description h4 {
  align-self: center;
  margin: 0;
  color: hsl(0, 0%, 40%);
  font-size: 17px;
  line-height: 20px;
}
.descriptor {
  display: flex;
  gap: 10px;
  height: fit-content;
  white-space: nowrap;
}
.descriptor > .seperator {
  visibility: visible;
}
.descriptor.first-in-row {
  gap: 0;
}
.descriptor.first-in-row > .seperator {
  visibility: collapse;
  width: 0;
}
#details {
  justify-content: space-between;
  color: hsl(0, 0%, 60%);
  font-size: 14px;
}
#right {
  flex-shrink: 0;
  aspect-ratio: 1;
  width: fit-content;
}
#image {
  aspect-ratio: 1;
  height: 100%;
  overflow: hidden;
  background: hsl(0, 0%, 90%);
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 50%);
}
#image img {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateY(-5%);
}

#tray {
  gap: 10px;
  height: max-content;
  padding: 10px;
  font-size: 14px;
}
#tray .options .selected {
  border: 2px solid hsla(360, 100%, 40%, 1);
}
.title {
  white-space: nowrap;
}
#variants,
.variant {
  gap: 10px;
}
.variant {
  align-items: center;
}
.options {
  width: 100%;
}
.option {
  flex: 1;
  justify-content: center;
  padding: 5px;
  border: 2px solid hsl(0, 0%, 80%);
}
.option:not(:last-child) {
  border-right: none;
}
.option.selected+.option {
  border-left: none;
}
