  <div #style id="style">
    <div #card id="card">
      <div id="left">
        <div id="title">
          <h2>{{rawServiceData.title | titlecase}} fdsfs</h2>
        </div>
        <div id="description">
          <h4>24in • Medium • Hair included
          Co-Wash</h4>
        </div>
        <div id="details">
          <div id="time">
            (2h 50m)
          </div>
          <div id="price">
            Total: $180
          </div>
        </div>
      </div>
      <div id="right">
        <div id="image">
          <img *ngIf="rawServiceData.images" src="{{rawServiceData.images[0]}}" alt="Image of {{rawServiceData.title}}">
        </div>
      </div>
    </div>
    <div #tray *ngIf="rawServiceData.variants" id="tray">
      hi
    </div>
  </div>