:host {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
}
#content {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
a {
  color: hsla(0, 0%, 40%, 1)!important;
}
.hide {
  visibility: hidden;
}