<div id="contentCon">
  <div id="content">
    <a routerLink="dashboard" routerLinkActive="activeRoute">
      <div class="navLink">
        <span class="icon material-symbols-outlined">
          home_app_logo
        </span>
        <h6 class="text">Home</h6>
      </div>
    </a>
    <a routerLink="bookings" routerLinkActive="activeRoute">
      <div class="navLink">
        <span class="icon material-symbols-outlined">
          calendar_month
        </span>
        <h6 class="text">Bookings</h6>
      </div>
    </a>
    <a routerLink="profile" routerLinkActive="activeRoute">
      <div class="navLink">
        <span class="icon material-symbols-outlined">
          person
        </span>
        <h6 class="text">Profile</h6>
      </div>
    </a>
  </div>
</div>